[run]
source = .
omit =
    venv/*
    tests/*
    */tests/*
    setup.py
    */site-packages/*
    .pytest_cache/*
    docs/*
    node_modules/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError
    def main
